
<VirtualHost *:80>

    Define PROJECT_ROOT "{Project Directory}"

    ServerAdmin tech@afwaah.com
    DocumentRoot "${PROJECT_ROOT}/public"
    ServerName dev.afwaah.com
    ServerAlias www.dev.afwaah.com localhost
    ErrorLog "${PROJECT_ROOT}/logs/error.log"
    CustomLog "${PROJECT_ROOT}/logs/access.log" common

    <Directory "${PROJECT_ROOT}/public">
        AllowOverride All
	    Require all granted
        DirectoryIndex index.php
    </Directory>

</VirtualHost>